version: '3.8'

services:
  fisio-lapinza-web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fisio-lapinza-web

    environment:
      - NODE_ENV=production

    expose:
      - "3000"

    networks:
      - proxy

    restart: unless-stopped

networks:
  proxy:
    external: true
